<div id="<%= dom_id todo_item %>" class="flex gap-8 justify-between p-4 ring-1 ring-[#E2D3BE] rounded-2xl ">
  <div>
    <div class="flex gap-2">

  <p class="">
  <input type="checkbox" />
    <%#= todo_item.competed %>
  </p>
  <p class="">
    <%= todo_item.title %>
  </p>
    </div>

  <p class="">
    <%= todo_item.body %>
  </p>

  </div>

  <% if action_name != "show" %>
    <div>
    <%#= link_to "Show", todo_item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit', edit_todo_item_path(todo_item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  <% end %>
</div>
