<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing todo item</h1>

  <%= render "form", todo_item: @todo_item %>

  <%= link_to "Show this todo item", @todo_item, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to todo items", todo_items_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
