<%= turbo_frame_tag :modal do %>
  <div class="fixed inset-0 z-50 p-2" role="dialog" aria-modal="true">
    <div class="fixed inset-0 transition-opacity bg-zinc-400 backdrop-blur-lg bg-opacity-75" aria-hidden="true"></div>
    <div class="relative flex items-center justify-center h-full">
      <div class="w-full max-w-sm p-10 bg-white  max-h-screen overflow-auto rounded-3xl md:max-w-2xl">
        <h1 class="text-4xl mb-8">New Task</h1>
        <%= render "form", todo: @todo %>
      </div>
    </div>
  </div>
<% end %>
