<div class="flex w-full mt-8 justify-between">
  <p class="text-slate-600 text-base">
  <%= journal_item.published_at.strftime('%B %e') %>
  </p>

  <%= link_to  edit_journal_item_path(journal_item), class: "" do %>
<svg width="32" height="32" class="hover:text-purple-500 text-slate-400" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="1" clip-path="url(#clip0_606_615)">
<path opacity="0.2" d="M15 3.58252L7.54 6.38002C7.37583 6.44162 7.23074 6.5453 7.11929 6.68067C7.00784 6.81603 6.93394 6.97833 6.905 7.15127L4 24.5825L21.4312 21.6775C21.6042 21.6486 21.7665 21.5747 21.9019 21.4632C22.0372 21.3518 22.1409 21.2067 22.2025 21.0425L25 13.5825L15 3.58252ZM14.5 16.5825C14.0055 16.5825 13.5222 16.4359 13.1111 16.1612C12.7 15.8865 12.3795 15.496 12.1903 15.0392C12.0011 14.5824 11.9516 14.0797 12.048 13.5948C12.1445 13.1098 12.3826 12.6644 12.7322 12.3148C13.0819 11.9651 13.5273 11.727 14.0123 11.6306C14.4972 11.5341 14.9999 11.5836 15.4567 11.7728C15.9135 11.962 16.304 12.2825 16.5787 12.6936C16.8534 13.1047 17 13.5881 17 14.0825C17 14.7456 16.7366 15.3814 16.2678 15.8503C15.7989 16.3191 15.163 16.5825 14.5 16.5825Z" fill="currentColor"/>
<path d="M30 9.16749C30.0008 8.90475 29.9494 8.64446 29.8488 8.40176C29.7481 8.15906 29.6002 7.93879 29.4137 7.75374L20.8287 -0.832509C20.643 -1.01827 20.4225 -1.16563 20.1798 -1.26617C19.9371 -1.36671 19.677 -1.41846 19.4143 -1.41846C19.1516 -1.41846 18.8915 -1.36671 18.6489 -1.26617C18.4062 -1.16563 18.1857 -1.01827 18 -0.832509L14.4462 2.72124L7.19621 5.44249C6.86671 5.56537 6.57527 5.77265 6.35107 6.04358C6.12687 6.31451 5.97778 6.63957 5.91871 6.98624L3.01371 24.4175C2.98974 24.5608 2.99727 24.7076 3.0358 24.8477C3.07432 24.9877 3.1429 25.1177 3.23677 25.2286C3.33064 25.3395 3.44754 25.4286 3.57934 25.4897C3.71114 25.5508 3.85468 25.5825 3.99996 25.5825C4.05523 25.5823 4.1104 25.5777 4.16496 25.5687L21.595 22.6637C21.9412 22.606 22.2661 22.4581 22.5371 22.2349C22.8081 22.0118 23.0156 21.7212 23.1387 21.3925L25.86 14.1425L29.4137 10.5825C29.6003 10.3973 29.7483 10.1768 29.8489 9.93385C29.9495 9.69093 30.0009 9.43043 30 9.16749ZM21.2662 20.6912L6.91496 23.0825L12.8362 17.1612C13.5758 17.5609 14.4345 17.6811 15.2553 17.4997C16.0762 17.3184 16.8044 16.8476 17.3067 16.1736C17.809 15.4995 18.052 14.6671 17.9911 13.8287C17.9302 12.9902 17.5696 12.2017 16.9752 11.6073C16.3807 11.0128 15.5922 10.6522 14.7538 10.5913C13.9153 10.5305 13.0829 10.7734 12.4089 11.2757C11.7348 11.7781 11.2641 12.5062 11.0827 13.3271C10.9014 14.148 11.0215 15.0067 11.4212 15.7462L5.49996 21.67L7.89121 7.31499L14.75 4.74374L23.8375 13.8325L21.2662 20.6912ZM13 14.0825C13 13.7858 13.0879 13.4958 13.2528 13.2491C13.4176 13.0025 13.6518 12.8102 13.9259 12.6967C14.2 12.5831 14.5016 12.5534 14.7926 12.6113C15.0836 12.6692 15.3508 12.8121 15.5606 13.0218C15.7704 13.2316 15.9133 13.4989 15.9711 13.7899C16.029 14.0808 15.9993 14.3824 15.8858 14.6565C15.7722 14.9306 15.58 15.1649 15.3333 15.3297C15.0866 15.4945 14.7966 15.5825 14.5 15.5825C14.1021 15.5825 13.7206 15.4245 13.4393 15.1432C13.158 14.8618 13 14.4803 13 14.0825ZM25 12.1675L16.4137 3.58249L19.4137 0.582491L28 9.16749L25 12.1675Z" fill="currentColor"/>
</g>
<defs>
<clipPath id="clip0_606_615">
<rect width="32" height="32" fill="currentColor"/>
</clipPath>
</defs>
</svg>
  <% end %>
</div>
